# -------------------------
# OS
# -------------------------
.DS_Store
Thumbs.db
desktop.ini

# -------------------------
# Editors
# -------------------------
.vscode/
.idea/

# Vim
*.swp
*.swo

# -------------------------
# Environment / Secrets
# -------------------------
.env
.env.*
!.env.example
secrets/

# -------------------------
# Logs
# -------------------------
*.log

# -------------------------
# Temporary files
# -------------------------
*.tmp
*.bak

# -------------------------
# Archives
# -------------------------
*.zip
*.tar
*.gz
*.rar